{% extends "base.html" %}{% block title %}Registrieren{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Registrieren</h3>
  <div class="form-group">
    <label for="email">E-Mail-Adresse</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="E-Mail-Adresse eingeben"
    />
  </div>
  <div class="form-group">
    <label for="firstName">Vorname</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Vornamen eingeben"
    />
  </div>
  <div class="form-group">
    <label for="password1">Passwort</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Passwort eingeben"
    />
  </div>
  <div class="form-group">
    <label for="password2">Passwort bestätigen</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Passwort erneut eingeben"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Registrieren</button>
</form>
{% endblock %}